.types-selector {
    background:whitesmoke;
    margin:20px;
    margin-top:0;
    padding:10px;
    border:1px solid rgba(0, 0, 0, 0.18);
    box-shadow:2px 2px 2px rgba(0, 0, 0, 0.17);
    border-radius: 2px;
    box-sizing: border-box;
    margin-left: 0;
}
.types-selector ul {
    margin:0;
    padding:0;
}
.types-selector ul li {
    list-style:none;
    text-align:left;
}
.types-selector ul li:hover {
    color:blue;
    text-decoration: underline;
    cursor: pointer;
}
@media (max-width: 937px) {
    .types-selector {
        margin-right: 0;
    }
    .types-selector ul li {
        display: inline-block;
    }
}